/* ===== Start: Laptop Devices ===== */

@media screen and (max-width: 1200px) {
  /* ===== Start: MAIN SECTION  ===== */

  main {
    width: 90vw;
  }

  .banner-content .banner-content--text h1 {
    font-size: 2.5rem;
  }

  /* ===== End: MAIN SECTION  ===== */
  /* .blog-container {
    width: 90vw;
  }

  .blog-container {
    width: 90vw;
  } */
}

/* ===== End: Laptop Devices ===== */

/* ===== Start: TAblet Devices ===== */

@media screen and (max-width: 1024px) {
  /* ===== Start: Main Section ===== */
  main {
    min-width: 90vw;
  }

  .banner .banner-img img {
    width: 80%;
  }

  .banner-content .banner-content--text h1 {
    font-size: 1.7rem;
  }
  /* ===== End: Main Section ===== */

  /* ===== Start: BLOG SECTION ===== */

  /* ===== End: BLOG SECTION ===== */
}

/* ===== End: TAblet Devices ===== */

/* ===== Start: Mobile Devices up to 425px ===== */
@media screen and (max-width: 640px) {
  /* ===== Start: HEADER SECTION ===== */
  .btn {
    width: 150px;
    padding: 1rem 0.5rem; /* 17px 24px */
    font-size: 0.9rem; /* 20px */
    font-weight: bold;
    border-radius: 0.625rem; /* 10px */
  }

  header .navbar {
    justify-content: space-between;
    padding: 0 1.5rem; /* 24px */
  }

  .navbar h2 {
    font-size: 2.5rem; /* 40px */
    font-weight: 800;
  }
  /* ===== End: heHEADER SECTION ===== */

  /* ===== Start: MAIN SECTION ===== */

  .banner .banner-img img {
    width: 150px;
  }

  .banner-content .banner-content--text h1 {
    font-size: 1.5rem;
  }

  /* ===== End: MAIN SECTION ===== */
}
/* ===== End: Mobile Devices ===== */
