/* ===== Start: Laptop Devices ===== */

@media screen and (max-width: 1200px) {
  /* ===== Start: MAIN SECTION  ===== */

  main {
    width: 90vw;
  }

  .banner-content .banner-content--text h1 {
    font-size: 2.5rem;
  }

  /* ===== End: MAIN SECTION  ===== */

  /* ===== Start: BLOG SECTION ===== */

  .blog-container {
    width: 90vw;
  }

  .blog-content {
    width: 100%;
    flex-direction: column-reverse;
    padding: 3rem;
    gap: 2rem;
  }

  .blog-content .blog-content-text {
    align-items: center;
    text-align: center;
  }
  /* ===== End: BLOG SECTION ===== */

  /* ===== Start: INSPIRATION ===== */

  .iframe-parent--container {
    width: 90%;
  }
  .iframe-container {
    padding: 1.7rem;
  }
  /* ===== End: INSPIRATION ===== */
}

/* ===== End: Laptop Devices ===== */

/* ===== Start: TAblet Devices ===== */

@media screen and (max-width: 1024px) {
  /* ===== Start: Main Section ===== */
  main {
    min-width: 90vw;
  }

  .banner .banner-img img {
    width: 80%;
  }

  .banner-content .banner-content--text h1 {
    font-size: 1.7rem;
  }
  /* ===== End: Main Section ===== */

  /* ===== Start: BLOG SECTION ===== */
  .blog-container .blog-heading {
    width: 80%;
    text-align: center;
  }
  .blog-heading h2 {
    font-size: 2rem;
    font-weight: 800;
  }
  .blog-heading p {
    font-size: 1rem;
  }

  .blog-img {
    display: flex;
    justify-content: center;
  }
  .blog-content img {
    width: 60%;
  }
  /* ===== End: BLOG SECTION ===== */

  /* ===== Start: INSPIRATION SECTION ===== */
  .inspiration-container .inspiration-content {
    width: 60%;
  }

  .iframe-container {
    padding: 1rem;
  }
  /* ===== End: INSPIRATION SECTION ===== */

  /* ===== Start: Target Section ===== */
  .target-top-text {
    width: 80%;
    text-align: center;
  }
  .cards-container {
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }

  .cards-container .card {
    width: 300px;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    gap: 0;
  }
  /* ===== End: Target Section ===== */

  /* ===== Start: FOOTER SECTION ===== */
  footer .footer-container {
    flex-direction: column;
    justify-content: space-evenly;
  }

  footer p {
    font-size: 1rem;
  }
  /* ===== End: FOOTER SECTION ===== */
}
/* ===== End: TAblet Devices ===== */

/* ===== Start: Mobile Devices up to 425px ===== */
@media screen and (max-width: 640px) {
  /* ===== Start: HEADER SECTION ===== */
  .btn {
    width: 120px;
    padding: 1rem 0.5rem; /* 17px 24px */
    font-size: 0.7rem; /* 20px */
    font-weight: bold;
    border-radius: 0.625rem; /* 10px */
  }

  header .navbar {
    justify-content: space-between;
    padding: 0 1.5rem;
  }

  .navbar h2 {
    font-size: 2rem;
  }
  /* ===== End: heHEADER SECTION ===== */

  /* ===== Start: MAIN SECTION ===== */
  .banner-content .banner-content--text h1 {
    font-size: 0.9rem;
  }
  .banner-content .banner-content--text p {
    font-size: 0.7rem;
  }
  /* ===== End: MAIN SECTION ===== */

  /* ===== Start: Blog SEction ===== */

  .blog-img {
    display: flex;
    justify-content: center;
  }
  .blog-content img {
    width: 80%;
  }
  /* ===== End: Blog SEction ===== */

  /* ===== Start: FOOTER SECTION ===== */
  footer .footer-container {
    flex-direction: column;
    justify-content: space-evenly;
  }

  footer p {
    font-size: 1rem;
  }
  /* ===== End: FOOTER SECTION ===== */
}
/* ===== End: Mobile Devices up to 425px ===== */
